.services-box {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.services-box .services-content {
  flex: 1 1 10rem;
  border: var(--border);
  border-radius: 0.5rem;
  padding: 0.8rem 0.5rem 1.1rem;
  text-align: center;
  transition: 0.3s ease;
}

.services-box .services-content:hover {
  box-shadow: var(--box-shadow);
}

.services-content i {
  font-size: 2.5rem;
  color: var(--main-color);
}

.services-content h3 {
  font-size: 1.1rem;
}

.services-content p {
  margin: 0.2rem 0 0.8rem;
}
